.page-title{
    width: 373;
    height: 41;
    top: 140px;
    left: 118px;
    font-family: 'FiraGO', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212529;

}