.comments-box{
    width: 741px;
    height: 975px;
    margin-top: 199px;
    left: 1059px;
    border-width: 0.3px;
    border-radius: 10px;
    border: 0.3px solid #DDD2FF;
    background-color: #DDD2FF;

}